{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
<div class="col-sm-12">

{% include 'sidebar.html' %}

<!--Jobb szélső vastag oszlop-->

<div class="col-sm-8 jobb">
	{% for obj in queryset_list %}
	{% if obj.post_size == "nagy" %}
	<div class="row">
		<div class="thumbnail">
			<div class="{{obj.title_style}}">
				<h3><span><a href="{{ obj.get_absolute_url }}">{{ obj.title | upper }}</a></span></h3>
			</div>

			{% if obj.image %}
			<a href="{{ obj.get_absolute_url }}"><img src="{{ obj.image.url }}" class="post_img_nagy"></a>
			{% endif %}

			<div class="info_vastag">
				{{ obj.author }}
				<a href="{{obj.get_category_url}}">{{ obj.hashtag | upper }}</a>
				{% if obj.upload_time.date == timezone.now.date %}
				ma {{ obj.upload_time | date:"G:i" | lower }}
				{% else %}
				{{ obj.upload_time | date:"F d, l G:i" | lower}}
				{% endif %}	
			</div>
			<div class="content">{{ obj.content | truncatechars:200}}</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>

</div>
</div>
</div>

{% endblock content %}